// font-family: 'Arimo', sans-serif;
// font-family: 'PT Sans', sans-serif;

// General Styling

// Uncomment for mobile responsiveness debugging
html {
  scroll-behavior: smooth;
  scroll-padding-top: 220px;
  //   *{
  //     border: 1px solid black;
  //   }
}
// Uncomment for mobile responsiveness debugguing

$highlightColor: #ff9f00;
$siteBlue: #247ce8;
$rowWidth: 90%;
$breakpoint-mobile: 575px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 991px;
$breakpoint-lg-desktop: 1199px;
@media (max-width: 768px) {
  body {
    h1 {
      font-size: 34px !important;
    }
    h2 {
      font-size: 32px !important;
      color: $highlightColor;
    }
    h3 {
      font-size: 30px !important;
    }
    h4 {
      font-size: 26px !important;
      color: $highlightColor;
    }
    h5 {
      font-size: 24px !important;
      color: $highlightColor;
    }
    h6 {
      font-size: 22px !important;
      font-weight: 700;
    }
    p {
      font-size: 16px !important;
    }
  }
}
body {
  .card {
    ul {
      padding-left: 30px !important;
    }
  }
  h2 {
    font-family: "PT Sans", sans-serif;
    font-weight: 800;
    // text-transform: uppercase;
    font-size: 34px;
    color: $highlightColor;
  }
  h1 {
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    font-size: 38px;
    // text-transform: uppercase;
  }
  h6 {
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
  }
  h3 {
    font-family: "PT Sans", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 36px;
    // text-transform: uppercase;
  }
  h4 {
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    // text-transform: uppercase;
    font-size: 32px;
    color: $highlightColor;
  }
  h5 {
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: $highlightColor;
  }
  li {
    font-size: 16px;
    font-family: "Arimo", sans-serif;
  }
}
nav {
  a {
    font-size: 16px;
    font-family: "Arimo", sans-serif;
  }
}
p {
  font-size: 16px;
  font-family: "Arimo", sans-serif;
  color: black;
}
td {
  font-size: 16px;
  font-family: "Arimo", sans-serif;
}
th {
  font-size: 16px;
  font-family: "Arimo", sans-serif;
}
// .curriculum{
//     position: relative !important;
//   }
// Gradient Background styling
@mixin pageBGPrimary {
  background-color: #247ce8;
  // padding: 40px 0px 40px 0px !important;
  color: white !important;
}
//General box-shadow styling
@mixin courseBoxShadow {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
  //   Used for modules in the body
}
@mixin lightShadow {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  //   Light shadow, used for navigation
}
@mixin buttonGeneralStyling {
  font-family: "Arimo", sans-serif;
  font-weight: bold !important;
  letter-spacing: 1px;
  //   General button style
}
@mixin enrollButton {
  background-color: $highlightColor;
  color: white;
  // Enroll button styling
}
@mixin whiteBlock {
  background-color: white;
  padding: 20px 0px 20px 0px;
  margin: 20px 0px 20px 0px;
  color: black;
  border-radius: 8px;
}
@mixin sectionPadding {
  padding-left: 5% !important;
  padding-right: 5% !important;
}
.enroll-btn {
  @include buttonGeneralStyling();
  @include enrollButton();
  // Enroll button styling
}
.form-control:focus {
  border: 2px solid $siteBlue !important;
  box-shadow: none !important;
}

// Course Intro Styling starts here

@media (max-width: 768px) {
  .breadcrumb-column {
    display: none !important;
  }
}
.course-breadcrumb {
  background-color: transparent !important;
  .breadcrumb-item {
    font-size: 15px !important;
    a {
      font-size: 15px;
    }
  }
}
.course-intro {
  @include sectionPadding();
  @include pageBGPrimary();

  p {
    color: white;
  }
  li {
    a {
      color: #f1f1f1 !important;
    }
    color: white !important;
    font-family: "Arimo", sans-serif;
  }

  .star-checked {
    color: orange;
    text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4) !important;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
  font-size: 14px !important;
}
.intro-video {
  @include courseBoxShadow();
  border-radius: 8px;
}
// Course Styling Ends here

// Course Details Stlying starts here
#courseOverview {
  @include sectionPadding();
}
// Course Details Styling Ends here

// Training options styling starts here
// Self-paced training
#trainingOptions {
  @include sectionPadding();
  color: white !important;
  h2 {
    color: white;
  }
}
#onlineClassroom {
  @include sectionPadding();
}
#corporateTraining {
  @include sectionPadding();
}
.training-options {
  @include pageBGPrimary();
  padding-top: 30px;
}
.self-paced {
  @include whiteBlock();
  @include lightShadow();
  .fas {
    color: $siteBlue;
  }
}
.training-price {
  font-size: 28px !important;
  color: $siteBlue;
  font-weight: 600;
}
// Training options styling alignment
.training-options {
  padding-bottom: 30px !important;
}
// Training options styling starts here

// Course curriculum styling starts here
#courseCurriculum {
  @include sectionPadding();
}
@mixin pageAccordion {
  .card-header {
    a {
      color: black !important;
      font-size: 24px !important;
    }
    background-color: white;
  }
  .card {
    margin-top: -2px;
    border: 2px solid $siteBlue !important;
  }
}
#curriculumAccordion {
  @include pageAccordion();
}
#aboutAccordion {
  @include pageAccordion();
}
// Course curriculum styling ends here

// Project course styling starts here
#desktopProject {
  @include sectionPadding();
}
#courseProjects {
  @include sectionPadding();
}
.project-card-body {
  border: 2px solid $siteBlue;
  border-top: 0px;
}
.project-card-head {
  background-color: $siteBlue !important;
  color: white;
  p {
    color: white;
  }
}
// Project course styling ends here

// Certifications Styling starts here
#certificationHeaading {
  @include sectionPadding();
}
#certifications {
  @include sectionPadding();
}
#certificationsHP {
  @include sectionPadding();
}
@media (min-width: $breakpoint-desktop) {
  .online-education-mobile {
    display: none !important;
  }
  .corporate-training-mobile {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .online-education {
    display: none !important;
  }
  .corporate-training {
    display: none !important;
  }
}
#certificationHeading {
  padding-top: 20px !important;
  background-image: linear-gradient(45deg, #005bea, #00c6fb);
  padding-bottom: 20px !important;
  h3 {
    color: white;
  }
}
@media (min-width: 768px) {
  #certificationHeading {
    // height: 300px;
    h3 {
      padding-bottom: 30px;
    }
  }
  #certifications {
    .ms-certification {
      @include whiteBlock();
      @include courseBoxShadow();
      margin-top: -50px;
    }
  }
}
// Certifications styling ends here

// Trainers styling starts here
// Desktop View
#trainersSection {
  @include sectionPadding();
  @include pageBGPrimary();
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  // height: 200px;
  h3 {
    color: white;
  }
}
// Columns Hiding in Tablets and Large Mobiles
@media (min-width: 576px) and (max-width: 767px) {
  .trainer-1 {
    display: none !important;
  }
}
// Columns Hiding in Mobiles
@media (max-width: 575px) {
  .trainer-1 {
    display: none !important;
  }
}
//Columns hiding in desktops and up
@media (min-width: 768px) {
  #trainersSection {
    height: 200px;
  }
  .trainer-mobile-1 {
    display: none !important;
  }
}
// Trainer1 Styling
.trainer-mobile-1 {
  //Mobile Styling
  @include whiteBlock();
  @include courseBoxShadow();
  .trainer-img-container {
    z-index: 1;
  }
  .trainer-img {
    border-radius: 500px !important;
  }
  h5 {
    color: $highlightColor;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 800;
  }
  .trainer-experience {
    color: $siteBlue;
    text-transform: uppercase;
    font-weight: 500;
  }
  .fab {
    font-size: 30px;
  }
  a {
    .fa-linkedin-in {
      color: #006696;
    }
    .fa-quora {
      color: #ce2017;
    }
  }
}
.trainer-1 {
  margin-top: -100px !important;
  @include whiteBlock();
  @include courseBoxShadow();
  .trainer-img-container {
    z-index: 1;
  }
}
@media only screen and (min-width: 992px) {
  // Horizontal view for tablet screens and up (Mobile Styling)
  .trainer-mobile-1 {
    .trainer-details {
      padding-left: 50px !important;
    }
    .trainer-img {
      @include courseBoxShadow();
      border-radius: 8px;
      margin-left: 50px !important;
      width: 300px;
    }
  }
}
@media only screen and (min-width: 992px) {
  // Horizontal view for tablet screens and up
  .trainer-1 {
    .trainer-img {
      @include courseBoxShadow();
      border-radius: 500px;
      // width: 280px;
    }
  }
}
@media only screen and (max-width: 991px) {
  // Vertical view for small screens (Mobile Styling)
  .trainer-mobile-1 {
    .trainer-details {
      padding-top: 80px !important;
    }
    .trainer-img {
      @include courseBoxShadow();
      border-radius: 8px;
      margin-bottom: -80px !important;
      width: 200px;
    }
  }
}
@media only screen and (max-width: 991px) {
  // Vertical view for small screens
  .trainer-1 {
    .trainer-details {
      padding-top: 80px !important;
    }
    .trainer-img {
      @include courseBoxShadow();
      border-radius: 8px;
      margin-bottom: -80px !important;
      width: 200px;
    }
  }
}
#trainer1 {
  @include sectionPadding();
  h5 {
    color: $highlightColor;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 800;
  }
  .trainer-experience {
    color: $siteBlue;
    text-transform: uppercase;
    font-weight: 500;
  }
  .fab {
    font-size: 30px;
  }
  a {
    .fa-linkedin-in {
      color: #006696;
    }
    .fa-quora {
      color: #ce2017;
    }
  }
}
//Mobile View
// Trainer section styling ends here

// FAQs styling starts here
#faqSection {
  @include sectionPadding();
}
#faqAccordion {
  @include pageAccordion();
}
//FAQs styling ends here

// Partners/Clients Styling starts here
#partners {
  @include sectionPadding();
}
.partners-block {
  @include whiteBlock();
  @include courseBoxShadow();
}
// Partners/Clients Styling ends here

//Trending Certifications Styling Starts Here
#trendingCertification {
  // Hover CSS
  .project-card {
    border-radius: 10px !important;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
    z-index: 9999 !important;
  }

  .card:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white !important;
    font-size: 20px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    p {
      color: white;
    }
    hr {
      border-top: 2px solid white;
    }
    .view-details-btn {
      width: 100% !important;
      background-color: transparent;
      border: 2px solid white;
      color: white;
    }
    // top: 50%;
    // left: 50%;
    // -webkit-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    // text-align: center;
  }
  // Hover css ends here

  .card-header {
    height: 180px;
    color: white;
  }
  h5 {
    font-size: 30px;
  }
  .card {
    @include lightShadow();
  }
  .card-body {
    background-color: #fafafa;
  }
  .cert1 {
    .card-header {
      background-color: #a18cd1 !important;
    }
  }
  .cert2 {
    .card-header {
      background-color: #5e98f9 !important;
    }
  }
  .cert3 {
    .card-header {
      background-color: #d299c2 !important;
    }
  }
  .cert4 {
    .card-header {
      background-color: #1cb8da !important;
    }
  }
}

.fa-chevron-circle-left {
  color: white !important;
  font-size: 40px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}
.fa-chevron-circle-right {
  color: white !important;
  font-size: 40px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .hs-course {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, calc(40% - 40px));
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
  }
  #carouselControlsMobile {
    display: none !important;
  }
}
@media (max-width: $breakpoint-tablet) {
  .hs-course {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, calc(90% - 40px));
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
  }
  #carouselControls {
    display: none !important;
  }
}

// Hover css

//Trending Certifications Styling Ends here

// Course Videos Styling Starts Here
#lectures {
  @include sectionPadding();
  .embed-responsive{
    position: sticky !important;
  }
  .collapse {
    padding-bottom: 0px !important;
  }
  .course-video {
    @include lightShadow();
  }
  button {
    color: $highlightColor !important;
    font-family: "Arimo", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
  }
  .card {
    border: 0px;
    border-bottom: 1px solid #c7c7c7 !important;
    padding-bottom: 0px !important;
    border-radius: 0px;
  }
  .card-body {
    padding: 5px;
    padding-bottom: 0px !important;
    table {
      margin-bottom: 0px !important;
    }
  }
  .card-header {
    padding: 0px !important;
    border-bottom: 0px !important;
    background-color: white;
  }
  .unlock-course {
    color: #50c878;
  }
  .lock-course {
    color: #c7c7c7;
  }
}
//Course Video Styling Ends Here

// Mobile menu styling
.mobile-menu-height {
  height: 70px !important;
  padding-top: 0px !important;
  .navbar-collapse {
    background-color: white;
    // margin-top: -10px;
    @include lightShadow();
  }
}

#mobileMenu {
  @include sectionPadding();
  @include lightShadow();
  background-color: $siteBlue !important;
  img {
    width: 160px;
  }
  .dropdown-menu {
    transition: all 300ms ease-in-out;
    background-color: $siteBlue;
    li {
      a {
        color: white;
      }
    }
  }
  .fa-bars {
    color: white;
  }
  .fa-search {
    color: $siteBlue;
  }
  input {
    border: 1px solid white;
  }
  .input-group-text {
    border: 1px solid white;
  }
  a {
    color: black;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-size: 16px;
  }
  // Slide Menu
  @media (max-width: 992px) {
    .navbar-collapse {
      position: fixed;
      top: 100px;
      left: 0;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 15px;
      width: 75%;
      height: 100%;
      .collapsing {
        left: -75%;
        transition: height 0s ease;
      }
      .show {
        left: 0;
        transition: left 300ms ease-in-out;
      }
    }
    .navbar-toggler {
      .collapsed {
        ~ .navbar-collapse {
          transition: left 500ms ease-in-out;
        }
      }
    }
  }
}

// Menu Styling
.main-menu {
  padding-left: 5% !important;
  padding-right: 5% !important;
  background-color: #247ce8 !important;
  @include lightShadow();
}
.main-menu a {
  color: white !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.main-menu .login-btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 12px;
}
.main-menu .login-btn:hover {
  background-color: white;
  border: 2px solid white;
  color: black;
}

.main-menu button {
  text-transform: uppercase !important;
  font-weight: 600 !important;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.mysearch {
  width: 400px !important;
}
.fa-search {
  cursor: pointer;
}

/* Mobile menu styling  */
@media (min-width: 992px) {
  #mobileMenu {
    display: none !important;
  }
}
@media (max-width: 991px) {
  #desktopMenu {
    display: none !important;
  }
}
