{% extends 'base.html' %}
{% load static %}
{% load is_enrolled %}
{% block head %}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LMS Course Page</title>
  <link rel="stylesheet" href="{% static 'sass/course-style.css' %}"/>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">



{% endblock %}


{% block content %}

  <!-- Menu Items  -->



  <!-- Secondary Menu  -->
 

  <!-- Intro Section  -->
  <section class="course-intro py-2">
    <div class="container-fluid">
      <div class="row">
        <!-- Breadcrumbs  -->
        <div class="col-12 breadcrumb-column">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb course-breadcrumb px-0 pb-0">
              <li class="breadcrumb-item"><a href="{% url 'lms:index' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Certifications</a></li>
              <!-- Page Heading One -->
              <li class="breadcrumb-item active" aria-current="page">
                {{object.title}} Certification
              </li>
            </ol>
          </nav>
        </div>

        <!-- Rating  -->
        <div class="col-12 py-2 py-lg-0">
          <h1>{{object.title}}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-7 text-justify py-2">
          <div class="d-flex flex-column flex-md-row">
            <div class="flex-row px-0">
              {% with ''|center:object.reviews as range %}
                    {% for _ in range %}
                    <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% endwith %}
            </div>
            <div class="flex-row px-0 px-md-2">
              <h6 class="mt-1">({{object.reviews}}/5) {{object.enrolled}}+ Students Enrolled</h6>
            </div>
          </div>
          <p>
            {{object.short_description|linebreaks}}
            <br />
          </p>
          <p>
            
          </p>
        </div>

        <div class="col-lg-5 py-2 text-center">
          <!-- 16:9 aspect ratio Video Embed-->
          <div class="embed-responsive embed-responsive-16by9 intro-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{object.video_id}}" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              class="embed-responsive-item" allowfullscreen></iframe>
          </div>
          <button class="my-3 btn btn-lg btn-block enroll-btn" type="button">
            Get Started Now
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Course Details Section  -->
  <section class="course-view " id="courseOverview">
    <div class="container-fluid">
      <div class="row py-3">
        <div class="col-12 col-lg-7">
          <h2 class="text-center text-md-left py-3">Course Overview</h2>
          <p class="text-justify">
            {{object.description|linebreaks}}
          </p>
        </div>
        <div class="col-12 col-lg-5">
          <div class="col-md-12 py-2 py-lg-0" id="keyFeatures">
            <h2 class="text-center text-lg-left py-3">Key Features</h2>
          </div>
          <div class="row">
            <div class="col-6 col-lg-4 text-center pb-1">
              <img src="{% static 'img2/icons/instructor-led.jpg' %}" alt="" class="img-fluid">
              <p class="text-center align-self-center px-2">232 Hrs Instructor Led Training</p>
            </div>
            <div class="col-6 col-lg-4 text-center pb-1">
              <img src="{% static 'img2/icons/video.jpg' %}" alt="" class="img-fluid">
              <p class="align-self-center px-2">Self-Paced Videos</p>
            </div>
            <div class="col-6 col-lg-4 text-center pb-1">
              <img src="{% static 'img2/icons/exercises.jpg' %}" alt="" class="img-fluid">
              <p class="align-self-center px-2">Exercises & Projects</p>
            </div>
            <div class="col-6 col-lg-4 text-center pb-1">
              <img src="{% static 'img2/icons/certification.jpg' %}" alt="" class="img-fluid">
              <p class="align-self-center px-2">Certification & Job Assistance</p>
            </div>
            <div class="col-6 col-lg-4 text-center pb-1">
              <img src="{% static 'img2/icons/upgrade.jpg' %}" alt="" class="img-fluid">
              <p class="align-self-center px-2">Lifetime Access & Upgrade</p>
            </div>
            <div class="col-6 col-lg-4 text-center pb-1">
              <img src="{% static 'img2/icons/support.jpg' %}" alt="" class="img-fluid">
              <p class="align-self-center px-2">24/7 Lifetime Support</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Course Videos Section  -->
  <section id="lectures" class="container-fluid py-md-4 px-2">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center text-lg-left py-3">Course Content</h2>
      </div>
      <!-- Video Container  -->
      <div class="col-12 col-lg-7">
        <div class="embed-responsive embed-responsive-16by9 course-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{object.video_id}}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            class="embed-responsive-item" allowfullscreen></iframe>
        </div>
      </div>
      <!-- Syllabus  -->
      <div class="col-12 col-lg-5" id="syllabus">
        <div id="lecturesAccordion">
          {% for i in object.module_set.all %}
          <!-- Chapter 1  -->
          {% if i.id == 1 %}
          <div class="card">
            <div class="card-header" id="chapter1">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#content1" aria-expanded="true"
                  aria-controls="content1" data-parent="lecturesAccordion"><i class="fas fa-minus pr-2"></i>{{i.module}}</button>
              </h5>
            </div>
            <div id="content1" class="lectures collapse show" aria-labelledby="chapter1"
              data-parent="#lecturesAccordion">
              <div class="card-body">
                <table class="table">
                  <tbody>
                    {% for j in i.lesson_set.all %}
                    {% if j.id == 1 %}
                    <tr class="unlock-course">
                      <th scope="row">
                        <i class="far fa-play-circle pr-2"></i> {{j.lesson}}
                      </th>
                      <td class="text-right"><i class="fas fa-unlock"></i></td>
                      <td class="text-right">
                        {{j.duration}}
                      </td>
                    </tr>
                    {% else %}
                    <tr class="unlock-course">
                      <th scope="row">
                        <i class="far fa-play-circle pr-2"></i> {{j.lesson}}
                      </th>
                      <td class="text-right"><i class="fas fa-unlock"></i></td>
                      <td class="text-right">
                        {{j.duration}}
                      </td>

                    </tr>
                    {% endif %}
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {% else %}
          
          
          <!-- Chapter 2  -->
          <div class="card">
            <div class="card-header" id="chapter{{i.id}}">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#content{{i.id}}" aria-expanded="false"
                  aria-controls="content2" data-parent="lecturesAccordion"><i class="fas fa-plus pr-2"></i>{{i.module}}</button>
              </h5>
            </div>
            <div id="content{{i.id}}" class="lectures collapse" aria-labelledby="chapter2" data-parent="#lecturesAccordion">
              <div class="card-body">
                <table class="table">
                  <tbody>
                    {% for j in i.lesson_set.all %}
                    <tr class="lock-course">
                      <th scope="row">
                        <i class="far fa-play-circle pr-2"></i>{{j.lesson}}
                      </th>
                      <td class="text-right"><i class="fas fa-lock"></i></td>
                      <td class="text-right">
                        {{j.duration}}
                      </td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          

        </div>
      </div>
    </div>
  </section>

  <!-- Training Options Section  -->
  <section class="container-fluid training-options" id="trainingOptions">
    <!-- Self paced and Heading  -->
    <div class="row px-2 mx-2">
      <div class="col-12">
        <h2 class="text-center py-3">Training Options</h2>
      </div>

      <div class="self-paced col-12">

        <div class="col-12">
          <h4 class="text-lg-left">
            Self Paced Training
          </h4>
        </div>

        <div class="col-12 col-lg-12">

          <div class="row px-2 no-gutters">
            <div class="col-12 col-lg-3">
              <div class="row justify-content-lg-start pt-3">
                <i class="fas fa-check-circle" style="font-size:20px"></i>
                <p class="px-1 px-lg-2"> 60Hrs E-Learning Videos</p>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="row justify-content-lg-start pt-3">
                <i class="fas fa-check-circle" style="font-size:20px"></i>
                <p class="px-1 px-lg-2"> Lifetime Access</p>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <div class="row justify-content-lg-start pt-3">
                <i class="fas fa-check-circle" style="font-size:20px"></i>
                <p class="px-1 px-lg-2"> 24/7 Support</p>
              </div>
            </div>
            {% user_enrolled request.user.id object.id as enrolled%}
            {% if not user.is_authenticated %}

            <div class="col-12 col-lg-3">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <p class="text-center text-lg-right training-price"><i
                      class="fas fa-rupee-sign align-self-center"></i>{% widthratio object.offer_price 100 1 %}</p>
                </div>
                <div class="col-12 col-lg-6">
                  
                  
             <a class="btn btn-block enroll-btn" href="{% url 'auth_login' %}">Login to Enrol</a>
           </div>


            
            {% elif not enrolled %}
            <div class="col-12 col-lg-3">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <p class="text-center text-lg-right training-price"><i
                      class="fas fa-rupee-sign align-self-center"></i>{% widthratio object.offer_price 100 1 %}</p>
                </div>
                <div class="col-12 col-lg-6">
                  
                  <button class="js-pay-bundle btn btn-block enroll-btn" data-itemid="gold200" data-amount="1325" data-processorid="razor" data-qty="1">Enroll Now</button>

            {% else %}
            <div class="col-12 col-lg-3">
              <div class="row">
                <div class="col-12 col-lg-6">
                  
                </div>
                <div class="col-12 col-lg-6">
                  
                  
             <a class="btn btn-block enroll-btn" href="{% url 'lms:detail' object.slug %}">View Course</a>
           </div>

            {% endif %}
                  

<script>
  // Function to lazy load a script
  // -----------------------------------------------
  var loadExternalScript = function(path) {
    var result = $.Deferred(),
        script = document.createElement("script");

    script.async = "async";
    script.type = "text/javascript";
    script.src = path;
    script.onload = script.onreadystatechange = function(_, isAbort) {
      if (!script.readyState || /loaded|complete/.test(script.readyState)) {
        if (isAbort)
          result.reject();
        else
          result.resolve();
      }
    };

    script.onerror = function() {
      result.reject();
    };

    $("head")[0].appendChild(script);

    return result.promise();
  };
</script>
<script src = "http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  // Use loadScript to load the Razorpay checkout.js
// -----------------------------------------------
var callRazorPayScript = function(itemId, amount, qty, processorId) {
  var merchangeName = "APSSDC",
      img = "https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg",
      name = "APSSDC LMS",
      description = "Purchase Description",
      amount = {{object.offer_price}},
      qty = 1;
      
  loadExternalScript('https://checkout.razorpay.com/v1/checkout.js').then(function() { 
    var options = {
      key: 'rzp_test_f9h8krtLXaD5GI',
      protocol: 'https',
      hostname: 'api.razorpay.com',
      amount: amount,
      name: merchangeName,
      description: description,
      image: img,
      prefill: {
        name: name,
      },
      theme: {
        color: '#3383FF'
      },
      handler: function (transaction, response){
        var status = '{{object.slug}}:' + transaction.razorpay_payment_id;
        if (status) {
          $.ajax({
            url : "{% url 'lms:status' %}",
            data : {'username':'{{request.user}}',
            'status':status},
            success: function (data) {
              location.href = "{% url 'lms:mycourses' %}"
            }
          })
        }
      }
    };

    window.rzpay = new Razorpay(options);

    console.log('Item Id: ', amount);
    console.log('Amount: ', amount);
    console.log('Quantity: ', qty);
    console.log('Processor Id: ', processorId);

    rzpay.open();
  });
}

// Trigger call to action buttons depending on the bundle packs
// -----------------------------------------------
var $payBundle = $('.js-pay-bundle');

$payBundle.on('click', function() {
  var itemId = $(this).data('itemid'),
      amount = $(this).data('amount'),
      processorid = $(this).data('processorid'),
      qty = $(this).data('qty');

  callRazorPayScript(itemId, amount, processorid, qty);
});
</script>
                </div>
              </div>
            </div>

            

          </div>

        </div>

      </div>
    </div>

  </section>
  <!-- Course Projects Section  -->

  <!-- Desktop Version  -->
  <section class="mt-4 container-fluid desktop-project" id="desktopProject">

    <div class="row py-3">
      <div class="col">
        <h4 class="text-center text-lg-left">Projects In This Program</h4>
      </div>
    </div>
    <div class="row">
      {% for i in object.project.all %}
      <div class="col-12 col-md-4 py-3">

        <div class="card project-card">
          <div class="card-header project-card-head">
            <p>Project {{forloop.counter}}</p>
            <h6>{{i.title}}</h6>
          </div>
          <div class="card-body project-card-body">
            <p class="text-justify">{{i.description}}</p>
          </div>
        </div>

      </div>

        {% endfor %}
      
    </div>
  </section>

  <!-- Certifications Section  -->
  <!-- Title  -->
  <section class="container-fluid mt-5" id="certificationHeading">
    <div class="row py-3">
      <div class="col-12">
        <h3 class="text-center">Certification</h3>
      </div>
    </div>
  </section>
  <!-- MS Certification  -->
  <section class="section container-fluid my-2 pb-2" id="certifications">
    <div class="row px-lg-5 ms-certification mx-0 mx-lg-5">
      <div class="col-12 col-lg-8 align-self-center">
        <h4 class="py-2">Microsoft Certification</h4>
        <h5>What will be the cost of MTA Certification?</h5>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptates explicabo beatae
          assumenda, quae molestiae consequuntur cupiditate fuga! Quasi veritatis quod incidunt adipisci dolorum
          necessitatibus vel illo doloribus porro iusto?</p>
        <h5>Can I get a job with Data Science MTA Certification?</h5>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptates explicabo beatae
          assumenda, quae molestiae consequuntur cupiditate fuga! Quasi veritatis quod incidunt adipisci dolorum
          necessitatibus vel illo doloribus porro iusto?</p>
      </div>
      <div class="col-12 col-lg-4">
        <img src="{% static 'img2/sample-certificate1.jpg' %}" alt="" class="img-fluid justify-content-center mx-auto d-block">
      </div>
    </div>
  </section>

  <!-- Trainers Section  -->
  <section class="container-fluid my-2" id="trainersSection">
    <div class="row mx-3 py-3 pt-4">
      <div class="col">
        <h3 class="text-center">Program Trainer</h3>
      </div>
      <!-- Mobile View  -->
      <div class="row p-3 trainer-mobile-1">
        <div class="col-12 col-lg-3 py-2 align-self-center trainer-img-container text-center">
          <img src="{% static 'img2/jhon.jpg' %}" alt="" class="mx-auto img-fluid trainer-img m-lg-4">
        </div>
        <div class="col-12 col-lg-9 p-3 align-self-center trainer-details">
          <h5 class="text-center text-lg-left">halo</h5>
          <p class="text-justify trainer-experience">
            17+ Years of eperience in Data Science, Machine Learning and Artificial Intelligence
          </p>
          <p class="text-justify">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quibusdam earum non velit exercitationem
            voluptatibus veniam repellendus ratione assumenda laborum?
          </p>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ut animi dolorem
            veritatis reiciendis fugiat doloremque amet eos accusamus officia?</p>
          <div class="d-flex flex-row">
            <a href="#" class="linkedin-link-trainer">
              <i class="fab fa-linkedin-in p-2"></i>
            </a>
            <a href="#" class="quora-link-trainer">
              <i class="fab fa-quora p-2"></i>
            </a>
          </div>

        </div>
      </div>
    </div>

  </section>
  <!-- Desktop View  -->
  <!-- Trainer 1  -->
  {% if object.trainer %}
  <section class="container-fluid my-2 pb-2" id="trainer1">
    <div class="row mx-3 mx-lg-4 px-3 trainer-1">
      <div class="col-12 col-lg-3 py-2 align-self-center trainer-img-container">
        <img src="{{object.trainer.image.url}}" alt="" class="mx-auto d-block img-fluid trainer-img m-lg-4">
      </div>
      <div class="col-12 col-lg-9 p-5 align-self-center trainer-details">
        <h5 class="text-center text-lg-left">{{object.trainer.name}}</h5>
        <p class="text-justify trainer-experience">
          {{object.trainer.about}}
        </p>
        <p class="text-justify">{{object.trainer.description|linebreaks}}</p>
        <div class="d-flex flex-row">
          <a href="{{object.trainer.linkedin}}" class="linkedin-link-trainer">
            <i class="fab fa-linkedin-in p-2"></i>
          </a>
          <a href="{{object.trainer.quora}}" class="quora-link-trainer">
            <i class="fab fa-quora p-2"></i>
          </a>
        </div>

      </div>
    </div>
  </section>
  {% endif %}

  <!-- FAQs Section  -->
  <section class="container mt-4" id="faqSection">
    <div class="row pt-3">
      <div class="col-12">
        <h4>Frequently Asked Questions</h4>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12 col-lg-12">
        <div id="faqAccordion">
          {% for i in object.faq.all %}
          <div class="card faq-card">
            <div class="card-header panel-title" id="f-heading{{i.id}}">

              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#aboutAccordion"
                href="#fDescription{{i.id}}" aria-expanded="false" aria-controls="fDescription1">
                <div class="row">
                  <div class="col-10 col-md-11">
                    <h6>
                      {{i.question}}
                    </h6>
                  </div>
                  <div class="col-2 col-md-1 mr-auto">
                    <!-- Opened Card  -->
                    <i class="toggle-curriculum fas fa-plus-circle"></i>
                  </div>
                </div>

              </a>
              </button>
            </div>
            <!-- Description 1  -->
            <div id="fDescription{{i.id}}" class="panel-collapse collapse" aria-labelledby="f-heading1"
              data-parent="#faqAccordion">
              <div class="card-body">
                <p>
                  {{i.answer}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>
  </section>

  <!-- Partners/Clients Section  -->
  <section class="container-fluid mt-4" id="partners">
    <div class="row mx-2 mx-lg-5 partners-block px-3 px-lg-5">
      <div class="col-12 py-3">
        <h4 class="text-center">Programs Created in Collaboration With</h4>
        <hr>
      </div>
      <div class="col-12 col-md-4 p-2">
        <img src="{% static 'img2/partner/microsoft-part.png' %}" alt="" class="img-fluid mx-auto d-block">
      </div>
      <div class="col-12 col-md-4 p-2">
        <img src="{% static 'img2/partner/unity-part.png' %}" alt="" class="img-fluid mx-auto d-block">
      </div>
      <div class="col-12 col-md-4 p-2">
        <img src="{% static 'img2/partner/adobe-part.png' %}" alt="" class="img-fluid mx-auto d-block">
      </div>
    </div>
  </section>



  <!-- Scripts -->


  <!-- Curriculum accordion script  -->
  <script>
    $(".lectures.collapse.show").each(function () {
      $(this).prev(".card-header").find(".fas").addClass("fa-minus").removeClass("fa-plus");
    });
    // Toggle plus minus icon on show hide of collapse element
    $(".lectures.collapse").on('show.bs.collapse', function () {
      $(this).prev(".card-header").find(".fas").removeClass("fa-plus").addClass("fa-minus");
    }).on('hide.bs.collapse', function () {
      $(this).prev(".card-header").find(".fas").removeClass("fa-minus").addClass("fa-plus");
    });

    $(".panel-collapse.collapse.show").each(function () {
      $(this).prev(".card-header").find(".fas").addClass("fa-minus-circle").removeClass("fa-plus-circle");
    });
    // Toggle plus minus icon on show hide of collapse element
    $(".panel-collapse.collapse").on('show.bs.collapse', function () {
      $(this).prev(".card-header").find(".fas").removeClass("fa-plus-circle").addClass("fa-minus-circle");
    }).on('hide.bs.collapse', function () {
      $(this).prev(".card-header").find(".fas").removeClass("fa-minus-circle").addClass("fa-plus-circle");
    });
  </script>

{% endblock %}