{% extends 'base.html' %}
{% load static %}
{% block head %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'sass/mobile-menu-style.css' %}">
   <link rel="stylesheet" href="{% static 'style.css' %}">
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <title>My Courses</title>


{% endblock %}


{% block content %}
  <!-- mycourses -->

  <section class="container" id="mycourses">

    <h3 class="mt-5 mb-3 ">My courses</h3>
    <div class="row no-gutters">


      <!-- Course Tabs Section  -->
      <div class="col-12 course-tabs">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
              aria-controls="pills-home" aria-selected="true">All courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-content-tab" data-toggle="pill" href="#pills-content" role="tab"
              aria-controls="pills-content" aria-selected="true">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
              aria-controls="pills-profile" aria-selected="false">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-anno-tab" data-toggle="pill" href="#pills-anno" role="tab"
              aria-controls="pills-anno" aria-selected="false">Archived</a>
          </li>
        </ul>

        <div class="tab-content px-2 px-md-5 mt-5" id="pills-tabContent">


          <!-- All courses -->
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
              <div class="col-12 mx-0">
                <div class="input-group">
                  <input type="text" class="form-control mysearch" placeholder="Search my courses" aria-label="Username"
                    aria-describedby="basic-addon1">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"
                        style="font-size:20px"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-5 justify-content-between">
              <div class="col-6 col-md-3 d-none d-md-block">
                <div class="dropdown show">
                  <a class="btn btn-block btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Recently Accessed
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Recently Accessed</a>
                    <a class="dropdown-item" href="#">Recently Enrolled</a>
                    <a class="dropdown-item" href="#">Title: A-to-Z</a>
                    <a class="dropdown-item" href="#">Title: Z-to-A</a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 d-none d-md-block">
                <div class="dropdown show">
                  <a class="btn btn-block btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Favorites</a>
                    <a class="dropdown-item" href="#">All Categories</a>
                    <a class="dropdown-item" href="#">Teaching & Academics</a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="dropdown show">
                  <a class="btn btn-block btn-primary dropdown-toggle px-1" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Progress
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Not Started</a>
                    <a class="dropdown-item" href="#">In Progress</a>
                    <a class="dropdown-item" href="#">Completed</a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="dropdown show">
                  <a class="btn btn-block btn-primary dropdown-toggle px-1" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Instructor
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">[ School of Game Design ]</a>
                    <a class="dropdown-item" href="#">365 Careers</a>
                    <a class="dropdown-item" href="#">8D Studio</a>
                  </div>
                </div>
              </div>

            </div>

            <section class="mt-5" id="trendingCertification">

              <div class="row">
                {% for j in mycourses %}
             <div class="col-12 col-md-3">

                <div class="card sh">
                  <img class="card-img-top" src="{{j.course.img293x274.url}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{j.course.title}}</h5>
                    <p class="card-text">Reviews</p>
                    {% with ''|center:j.course.reviews as range %}
                    {% for _ in range %}
                    <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% endwith %}
                    <span>{{j.course.reviews}} ({{j.course.enrolled}})</span>

                  </div>
                  <div class="overlay card pt-3 justify-content-center mx-auto">
                    <div class="text">
                      <h6>{{j.course.title}}</h6>
                      <hr>
                      <p>Duration:<br>{{j.course.duration}}</p>
                      <p>Key Skills: <br>{{j.course.tags}}</p>
                      
                      <a href="{% url 'lms:detail' j.course.slug %}"><span class="viewCourse">View Details</span></a>
                      
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}

                

              </div>
            



            </section>

          </div>

          <!-- Collections -->
          <div class="tab-pane fade  text-justify" id="pills-content" role="tabpanel"
            aria-labelledby="pills-content-tab">
            <div class="row mt-5">
              <div class="col-md-2"></div>
              <div class="col-12 col-md-8 text-center">
                <h4 class="mb-3">Organize and access your courses faster!</h4>
                <p class="mb-5">Go to the <a href="{% url 'lms:mycourses' %}">All Courses</a> All Courses tab to create a
                  collection.</p>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/8N5rRU6JjFY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    class="embed-responsive-item" allowfullscreen></iframe>
                </div>

              </div>
              <div class="col-md-2"></div>
            </div>


          </div>

          <!-- Wishlist -->
          <div class="tab-pane fade  text-justify" id="pills-profile" role="tabpanel"
            aria-labelledby="pills-profile-tab">
            <div class="row mt-5">
              <div class="col-12"><button class="btn btn-primary"><a style="color: #fff" href="{% url 'lms:allcourses' %}">Browse courses now</a></button></div>
            </div>
          </div>

          <!-- Archived -->
          <div class="tab-pane fade" id="pills-anno" role="tabpanel" aria-labelledby="pills-anno-tab">
          <section class="mt-5" id="trendingCertification">

              <div class="row">
                {% for j in mycourses %}
             <div class="col-12 col-md-3">

                <div class="card sh">
                  <img class="card-img-top" src="{{j.course.img293x274.url}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{j.course.title}}</h5>
                    <p class="card-text">Reviews</p>
                    {% with ''|center:j.course.reviews as range %}
                    {% for _ in range %}
                    <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% endwith %}
                    <span>{{j.course.reviews}} ({{j.course.enrolled}})</span>

                  </div>
                  <div class="overlay card pt-3 justify-content-center mx-auto">
                    <div class="text">
                      <h6>{{j.course.title}}</h6>
                      <hr>
                      <p>Duration:<br>{{j.course.duration}}</p>
                      <p>Key Skills: <br>{{j.course.tags}}</p>
                      
                      <a style="color:white" href="#">View Details</a>
                      
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}

                

              </div>
            



            </section>


          </div>
        </div>
      </div>
  </section>

  <!-- script  -->
  

  <script>
    $(".panel-collapse.collapse.show").each(function () {
      $(this).prev(".card-header").find(".fas").addClass("fa-angle-down").removeClass("fa-angle-up");
    });
    // Toggle plus minus icon on show hide of collapse element
    $(".panel-collapse.collapse").on('show.bs.collapse', function () {
      $(this).prev(".card-header").find(".fas").removeClass("fa-angle-down").addClass("fa-angle-up");
    }).on('hide.bs.collapse', function () {
      $(this).prev(".card-header").find(".fas").removeClass("fa-angle-up").addClass("fa-angle-down");
    });
  </script>
{% endblock %}