{% extends "registration/registration_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<section>
	<div class="container">
		<div class="row mt-5 text-center">
			<div class="col-12">
<img class="regimg mb-3" src="{% static 'img/done001.png' %}" class="img-fluid"
            alt="Responsive image">
<p class="allmsg">

    {% trans "Your password has been reset!" %}
    {% blocktrans %}You may now <a href="{{ login_url }}">Log In</a>{% endblocktrans %}.

</p>
</div>
</div>
</div>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}
