{% extends "registration/registration_base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}

 <section class="container mt-5">
 <div class="row details-form">
      <div class="col-md-6 regbg text-center">
        <h3 class="logintext">Welcome SkillAP</h3>
        <img class="regimg" src="{% static 'img/login001.png' %}" class="img-fluid"
            alt="Responsive image">
           
      </div>
      <div class="col-md-6">
      <h3 class="text-center mt-4 py-2 formHead">Reset password</h3>
<form method="post" action="">
    {% csrf_token %}
    {% include 'bs4_form_label.html' with form=form %}
    <input class="btn  btn-primary btn-block form-button" type="submit" value="{% trans 'Reset password' %}" />
</form>
<p class="mt-3">
    {% blocktrans %}
    Forgot your password? Enter your email above and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
 </div>
   
  </div>
  </section>
{% endblock %}


{# This is used by django.contrib.auth #}
