{% extends "registration/registration_base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<section>
	<div class="container">
		<div class="row mt-5 text-center">
			<div class="col-12">
<img class="regimg mb-3" src="{% static 'img/emailicon002.png' %}" class="img-fluid"
            alt="Responsive image">
<p class="allmsg">
    {% blocktrans %}
    We have sent you an email with a link to reset your password. Please check
    your email and click the link to continue.
    {% endblocktrans %}
</p>
</div>
</div>
</div>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}
