{% extends "registration/registration_base.html" %}
{% load static %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
{% if validlink %}
 <section class="container mt-5">
 <div class="row details-form">
      <div class="col-md-6 regbg text-center">
        <h3 class="logintext">Welcome SkillAP</h3>
        <img class="regimg" src="{% static 'img/login001.png' %}" class="img-fluid"
            alt="Responsive image">
           
      </div>
      <div class="col-md-6">
      <h3 class="text-center mt-4 py-2 formHead">Reset password</h3>
 
  <form class="p-2 p-lg-4" method="post" action="">
  	 <p class="mb-3"><i style="color: #007bff">{% trans "Enter your new password below to reset your password:" %}</i></p>
      {% csrf_token %}
      {% include 'bs4_form_label.html' with form=form %}
      <input class="btn  btn-primary btn-block form-button" type="submit" value="{% trans 'Set password' %}" />
  </form>
  
  </div>
   
  </div>
  </section>
{% else %}
<section>
  <div class="container">
    <div class="row mt-5 text-center">
      <div class="col-12">
<img class="regimg mb-3" src="{% static 'img/undone001.png' %}" class="img-fluid"
            alt="Responsive image">
<p class="allmsg" style="color: red">

  Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a></p>
</div>
</div>
</section>
{% endif %}
{% endblock %}


{# This is used by django.contrib.auth #}
